
.gallery ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
}

.gallery ul li img{
    box-shadow: 2px 2px 5px #000000;
    border-radius: 5px;
}

.gallery ul li img:hover{
    transform : scale(1.5);
    transition-duration: 0.6s;
}

.gallery ul li{
    padding-right: 1em;
}

#welcome{
    padding-right: 6em;
    padding-left: 6em;
    font-size: 120%;
    text-align: left;
}

#sketch{
    text-align: center;
    transform: scale(1.3);
    transition-duration: .5s;
}

.links{
    font-size: 200%;
}

.links h4 {
    margin-bottom: 1px;
}

.links ul{
    list-style-type: none;
    margin-top: 1px ;    
}

.links ul li{
    margin-bottom: 5px;
}


.links ul li a{
    text-decoration: none;
}

.links ul li a:hover{
    font-size: 110%;
    transition-duration: 0.4s;
}

#gametable{
    width: 50%;
    border: 2px solid rgb(50,100,100);
}
#gametable th,td{
    border: 2px solid rgb(50,100,100);
    text-align: center;
}

.navbar ul{
    width: auto;
    float: right;
    margin-top: 8px;
    text-decoration: none;
}

.navbar ul li{
    display: inline-block;
    padding: 15px 30px;
}

.navbar ul li a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2vw;
    text-decoration: none;

}

.navbar ul li a:hover{
    color: #2df04d;
    transition: 0.5s;
}

body { 
    background-color: powderblue;
}
